/* Overarching structure CSS */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Adds layer of darkness over it*/
.layout::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

main {
  flex: 1;
  display: flex;
}

/*Header CSS*/
header {
  padding: 1.35rem 0;
  background-color: rgba(210, 210, 210, 0.85);
  font-size: clamp(1.2rem, 2.2vw, 1.7rem);
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  padding: 0 1rem;
  gap: 1rem;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: white;
}

header li {
  transition: transform 0.3s;
}

header li:hover {
  transform: scale(1.2);
}

/* Footer CSS */
footer {
  background-color: rgba(210, 210, 210, 0.85);
  padding: 1.35rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
}

footer i {
  margin: 0.4375rem;
  font-size: clamp(1.4rem, 2.4vw, 1.8rem);

}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: clamp(1.2rem, 2.2vw, 1.7rem);
  transition: transform 0.3s, color 0.3s;

}

footer a:hover {
  color: white;
  transform: scale(1.2);
}

/* Pages - Home Page */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.home-text {
  text-align: center;
  color: hsla(44, 22%, 94%, 0.9);
  font-size: clamp(1rem, 2.3vw, 1.9rem);
  font-weight: bold;
}

.home-text h2 {
  font-size: clamp(0.9rem, 1.4vw, 1.6rem);
  font-style: italic;
  font-weight: 400;
}

